﻿@{
    ViewBag.Title = "Home";
}

<div class="container-fluid" style="min-height:600px">

    <!-- Page Heading -->
    <div class="row" style="margin-bottom:15px">
        <div class="col-lg-12">
            <h1>Parts Delivery Management (AWS)</h1>
        </div>
    </div>

    <!-- Home Menu Items -->
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="/Order/Create" class="fa fa-links">
                <div class="thumbnail tile">
                    <h5>Parts Status</h5>
                    <i class="fa fa-4x fa-truck"></i>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#" class="fa fa-links">
                <div class="thumbnail tile">
                    <h5>Jobs Near Me</h5>
                    <i class="fa fa-4x fa-map-marker"></i>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#" class="fa fa-links">
                <div class="thumbnail tile">
                    <h5>Site Overview</h5>
                    <i class="fa fa-4x fa-hospital-o"></i>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#" class="fa fa-links">
                <div class="thumbnail tile">
                    <h5>Job Schedule</h5>
                    <i class="fa fa-4x fa-calendar"></i>
                </div>
            </a>
        </div>
    </div>



</div>
