﻿@model Artis.Siemens.HealthCareCloudServices.Domain.Models.LeadTimeCostFormula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LeadTimeCostFormula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OriginRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationPostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationPostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationZone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationZone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tailgate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tailgate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceLevelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceLevelCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceLevelDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceLevelDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CutOffTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CutOffTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateFormula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateFormula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceLevelRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceLevelRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedPerson)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
