﻿@model IEnumerable<Artis.Siemens.HealthCareCloudServices.Domain.Models.LeadTimeCostFormula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OriginRegion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationPostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationZone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tailgate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceLevelCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceLevelDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOffTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateFormula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceLevelRemarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OriginRegion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationPostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationZone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tailgate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceLevelCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceLevelDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CutOffTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateFormula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceLevelRemarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditedPerson)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
