﻿@model IEnumerable<Artis.Siemens.HealthCareCloudServices.Domain.Models.InternationalFlightsCutoff>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OriginAirportCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginAirportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationAirportCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationAirportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CsmlCutoff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableforLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedMetroDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysServiced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OriginAirportCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginAirportName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationAirportCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationAirportName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CsmlCutoff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableforLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedMetroDelivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaysServiced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditedPerson)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
