﻿@{
    ViewBag.Title = "Login";
}
<div class="container-fluid">
    <h2>Login</h2>

    @using (Html.BeginForm("Login", "Account", null, FormMethod.Post))
    {




        @Html.ValidationSummary(true) <br />
        <div class="row">
            <div class="col-lg-2">
                @Html.TextBox("username", "", new { placeholder = "username", @class = "form-control" })
            </div>
            <div class="col-lg-2">
                @Html.Password("password", "", new { placeholder = "password", @class = "form-control" })
            </div>
            <div class="col-lg-2">
                <input type="submit" value="Log in" class="btn btn-info online" />
            </div>
        </div>


    }
</div> 