﻿@{string orderId = Request.QueryString["id"];}

<div ng-app="SpareParts" ng-cloak>
    <div ng-app="SpareParts.OrderConfirm" ng-controller="OrderDetailCtrl as odc" ng-init="odc.getOrderDetails(@orderId)" ng-cloak>
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1> Create Spare Part Delivery Order</h1>
            </div>
        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col-lg-12">
                <span style="margin-right:15px;"><i style="margin-right:15px" class="fa fa-shopping-cart fa-2x"></i>Step 1: Enter Order Details </span>

                <span style="margin-right:15px; color:#ab218e;"><i style="margin-right:15px" class="fa fa-plane fa-2x"></i>Step 2: Select Service Level for Order Id @orderId </span>
            </div>
        </div>



        <div class="row" ng-show="odc.Id && odc.Services.length===0">
            <div class="col-lg-12">
                <div class="alert alert-warning">
                    <div class="row">
                        <div class="col-lg-2 pull">
                            <i class="fa fa-warning fa-4x pull-right"></i>
                        </div>
                        <div class="col-lg-10">
                            <p><strong>This order cannot be placed with Schenker as there is no Service defined for the destination in the system.</strong></p>
                            <p>Please select a service from the selection list below :</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Order Summary -->
        <div class="row" ng-show="odc.Id">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <h3 class="panel-title">
                            Review Delivery Details <loading-indicator hidewhen="odc.OrderDetailsLoaded"  <span style="float:right;"> <small>
                            <a href="~/Order/Create?id=@orderId"> <i class="fa fa-pencil-square-o"></i> Edit Delivery Details</a></small></span>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <!-- From / To Locations -->
                        <div class="row">
                            <div class="col-lg-6">
                                <h4> <b>From:</b> {{odc.Order.OriginLocation}} <span ng-if="odc.ShowFlightsTable">(via {{odc.Flights[0].DestinationAirportCode}})</span> <span id="OriginTime" class="badge">{{odc.Times[0]}}</span></h4>
                            </div>
                            <div class="col-lg-6">
                                <h4> <b>To:</b> {{odc.Order.CustomerSite}} ({{odc.Order.DestRegion}}) <span id="DestinationTime" class="badge">{{odc.Times[1]}}</span></h4>
                            </div>
                        </div>
                        <hr>
                        <style>
                            .tableRowBorder {
                                border: 1px solid lightgrey;
                                background-color: #f5f5f5;
                                margin-bottom: 12px;
                                margin-right:60px;
                                margin-left: 2px;
                                padding: 8px;
                            }
                        </style>
                        <!-- Delivery / Job / Site Information -->
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Delivery</h4>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">PO/STO#: </div>
                                    <div class="col-sm-8">{{odc.Order.PurchasingDoc}} - {{odc.Order.Items.length}} Item/s </div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Total Weight: </div>
                                    <div class="col-sm-8">{{odc.TotalWeight}} KG</div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Ordered For: </div>
                                    <div class="col-sm-8">{{odc.Employee.Sloc}} - {{odc.Employee.GivenName}} {{odc.Employee.Surname}} </div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Delivery Zone: </div>
                                    <div class="col-sm-8">{{odc.DeliveryZone}} </div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Delivery Type: </div>
                                    <div class="col-sm-8">{{odc.Order.DeliveryType}} </div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Req Date/Time: </div>
                                    <div class="col-sm-8">{{odc.Order.DeliveryDate}} - {{odc.Order.DeliveryTime}} </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <h4>Service Job</h4>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Job#: </div>
                                    <div class="col-sm-8">{{odc.Order.Requisitioner}}</div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">System Status: </div>
                                    <div class="col-sm-8"><span class="label label-danger">{{odc.EffectSeverity}}</span> </div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Job Desc: </div>
                                    <div class="col-sm-8">{{odc.ZMon.Short_Text}}</div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Last Visit: </div>
                                    <div class="col-sm-8">{{odc.LastVisit | date:'dd/MM/yyyy hh:mm a'}} </div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Next Visit: </div>
                                    <div class="col-sm-8">{{odc.NextVisit | date:'dd/MM/yyyy hh:mm a'}} </div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Prim/Sec CSEs: </div>
                                    <div class="col-sm-8">{{odc.AssignedCSE1.GivenName}} {{odc.AssignedCSE1.Surname}}, {{odc.AssignedCSE2.GivenName}} {{odc.AssignedCSE2.Surname}}</div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <h4>Site Information</h4>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">FL#: </div>
                                    <div class="col-sm-8">{{odc.IBase.FLNumber}}<span class="label label-danger ng-hide">Hot Site</span></div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Customer Site: </div>
                                    <div class="col-sm-8">{{odc.IBase.Name1}}</div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">System Type: </div>
                                    <div class="col-sm-8">{{odc.IBase.EQDesc}}</div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Serial No: </div>
                                    <div class="col-sm-8">{{odc.IBase.SerialNo}} </div>
                                </div>
                                <div class="row tableRowBorder">
                                    <div class="col-sm-4">Service Team / BU: </div>
                                    <div class="col-sm-8">{{odc.Employee.Team}}</div>
                                </div>
                            </div>
                        </div>
                        <hr ng-if="odc.ShowFlightsTable">
                        <!-- International Flight Information -->
                        <h4 ng-if="odc.ShowFlightsTable">International Flights &amp; Cut Off Time</h4>

                        <div class="table-responsive" ng-if="odc.ShowFlightsTable">
                            <table class="table table-hover">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col style="background-color:#f0ab00;">
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Flight No</th>
                                        <th>Origin</th>
                                        <th>Destination</th>
                                        <th>CSML Cut Off <span class="badge">D</span></th>
                                        <th>Departure <span class="badge">O</span> </th>
                                        <th>Arrival <span class="badge">D</span> </th>
                                        <th>Available <span class="badge">D</span> </th>
                                        <th>Days Serviced</th>
                                    </tr>
                                </thead>
                                <tbody data-link="row" class="rowlink">
                                    <tr ng-repeat="flight in odc.Flights">
                                        <td><a href="https://www.google.com/webhp?sourceid=chrome-instant&amp;ion=1&amp;espv=2&amp;ie=UTF-8#q={{flight.FlightNo}}" target="new">{{flight.FlightNo}}</a></td>
                                        <td>{{flight.OriginAirportCode}}</td>
                                        <td>{{flight.DestinationAirportCode}}</td>
                                        <td>{{flight.CsmlCutoff}}</td>
                                        <td>{{flight.DepartureTime}}</td>
                                        <td>{{flight.ArrivalTime}}</td>
                                        <td>{{flight.AvailableforLocal}}</td>
                                        <td>{{flight.DaysServiced}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-lg-12">

                <button type="button" data-toggle="modal"
                        link-action="odc.goBack()"
                        class="btn btn-labeled btn-success">
                    <span class="btn-label">
                        <i class="fa fa-arrow-circle-left"></i>
                    </span>
                    <span>&nbsp;Back</span>
                </button>
            </div>
        </div>
        <!-- weight warning -->
        <div class="row" ng-hide="odc.WeightWarning == ''">
            <div class="col-lg-12">

                <div class="alert alert-danger" role="alert">
                    <p>{{odc.WeightWarning}}</p>
                    &nbsp; <br />
                    <input type="checkbox" id="tg" ng-checked="odc.checktailgate(odc.Order.TailGate)" disabled>
                    <b>Request a Tailgate / Special Delivery Booking</b>

                    @*<label><input type="checkbox" value="" checked=""> Request a Tailgate / Special Delivery Booking </label>*@
                </div>
            </div>
        </div>
        <!-- generic services -->
        <div class="row">
            <div class="col-lg-4" ng-show="odc.Id && odc.Services.length===0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-road"></i>&nbsp;Generic Service
                        </h3>
                    </div>
                    <div class="panel-body">
                        Service Level: <select name="serviceChoice" id="serviceChoice" ng-model="odc.genericService.SelectedServiceId" ng-change="odc.getGenericServiceDetails()">
                            <option ng-repeat="option in odc.GenericServices" value="{{option.Id}}">{{option.AvailableServices}}</option>
                        </select>
                        <hr />
                        Cut Off (origin): {{odc.genericService.CutOffTime}}<br>
                        <hr />
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="odc.genericService.WarehousePriority">
                                15min Whse Pick &amp; Pack (20 A$ extra)
                            </label>
                        </div>
                        <hr>
                        <button type="button" data-toggle="modal"
                                link-action="odc.submitOrder(odc.genericService.SelectedServiceLevelCode, odc.genericService.Description, odc.genericService.WarehousePriority, odc.Employee.GivenName, odc.Employee.Surname, odc.Employee.Mobile)"
                                class="btn btn-labeled btn-success">
                            <span class="btn-label">
                                <i class="fa fa-road"></i>
                            </span>
                            <span>&nbsp;Select {{odc.genericService.Description}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Three Delivery Columns -->
        <div class="row" ng-show="odc.Id">
            <!-- hide drop point items - if it's over weight warning -->
            <div class="col-lg-4" ng-repeat="service in odc.Services" ng-hide="service.AvailableServices == 'Drop Point' && odc.WeightWarning != ''">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-road"></i>
                            {{service.AvailableServices}}
                        </h3>
                    </div>
                    <div class="panel-body">
                        Delivery Time: {{service.DeliveryTime}}<br>
                        Cut Off: {{service.CutOffTime}}<br>
                        <strong>
                            Cost: {{service.Cost}}<br>
                        </strong>

                        <hr>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="service.WarehousePriority">
                                15min Whse Pick &amp; Pack (20 A$ extra)
                            </label>
                        </div>
                        <hr>
                        <span style="display:none;">Service.Id = {{service.Id}} | service.AvailableServices = {{service.AvailableServices}}</span>
                        <button type="button" class="btn btn-labeled btn-success" data-toggle="modal" link-action="odc.submitOrder(service.ServiceLevelCode, service.AvailableServices, service.WarehousePriority, odc.Employee.GivenName, odc.Employee.Surname, odc.Employee.Mobile, service.Cost)">
                            <span class="btn-label">
                                <i class="fa fa-road"></i>
                            </span>
                            <span>&nbsp;Select {{service.AvailableServices}}</span>
                        </button>


                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-road"></i>&nbsp;Generic Service
                            </h3>
                        </div>
                        <div class="panel-body">
                            Service Level: <select name="serviceChoice" id="serviceChoice" ng-model="odc.genericService.SelectedServiceId" ng-change="odc.getGenericServiceDetails()">
                                <option ng-repeat="option in odc.GenericServices" value="{{option.Id}}">{{option.AvailableServices}}</option>
                            </select>
                            <hr />
                            Cut Off (origin): {{odc.genericService.CutOffTime}}<br>
                            <hr />
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="odc.genericService.WarehousePriority">
                                    15min Whse Pick &amp; Pack (20 A$ extra)
                                </label>
                            </div>
                            <hr>
                            <button type="button" data-toggle="modal"
                                    link-action="odc.submitOrder(odc.genericService.SelectedServiceLevelCode, odc.genericService.Description, odc.genericService.WarehousePriority, odc.Employee.GivenName, odc.Employee.Surname, odc.Employee.Mobile)"
                                    class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                    <i class="fa fa-road"></i>
                                </span>
                                <span>&nbsp;Select {{odc.genericService.Description}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal for the submit and waiting dialog -->
            <div class="modal fade" id="submitModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="odc.closeRedirect()" data-dismiss="modal">×</button>

                            <h4 class="modal-title">Submitting Delivery Details</h4>
                        </div>
                        <div class="modal-body" style="text-align:center">
                            <p>Your Spare Part Delivery Details are being submitted to Schenker.</p>
                            <p><strong>Please wait and do not leave this page. </strong></p>
                            <i class="fa fa-refresh fa-spin fa-5x" ng-show="odc.XML=='Loading...'"></i>
                            <div class="row">
                                <div>
                                    <textarea ng-model="odc.xmlStatus" rows="2" cols="40"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <textarea ng-model="odc.XML" rows="10" cols="50"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="odc.closeRedirect()" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>
