﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/* test if this address width to column issue*/
input,
select,
textarea {
    /*max-width: 280px;*/
}


/*      SIEMENS CUSTOM CSS      */
html, body {
	height: 100%;
    background: -webkit-linear-gradient(#A6E0FF, #EFEBE2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #e5f5fc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #e5f5fc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #e5f5fc); /* Standard syntax (must be last) */
	background-attachment: fixed;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;    
	font-weight: 300;
	
}

h1 {
	margin-bottom: 25px;
	font-size:28px;
	font-weight:100;
	color:#3e464a;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h3 {
	margin-bottom: 25px;
	font-size:19px;
	font-weight:200;
	color:#3e464a;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h5 {
	margin-bottom: 16px;
	font-size:16px;
	font-weight:200;
	color:#3e464a;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.tile{
text-align: center;
height: 120px;
width: 120px;
}



.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: none;
  border-top:3px solid #e5e5e5;
  border-radius: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
  padding: 15px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid #e5e5e5 !important;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}


/* CSS Styles to align the Chosen Plug in with Bootstrap UI */
.chosen-container-single .chosen-single {
	height: 35px;
	width: 300px;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
}
.chosen-container-single .chosen-single span {
	padding-top: 2px;
}
.chosen-container-single .chosen-single div b {
	margin-top: 2px;
}
.chosen-container-active .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single {
	border-color: #ccc;
	border-color: rgba(82, 168, 236, .8);
	outline: 0;
	outline: thin dotted \9;
	-moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
	box-shadow: 0 0 8px rgba(82, 168, 236, .6)
}

.btn.btn-info.online{
    background-color:transparent;
    color:#46b8da;
}
.btn.btn-info.online:hover{
    background-color:#46b8da;
    color:#fff;
}
.btn.btn-info.online[disabled]{
    color:#ccc;
    border-color:#ccc;
}

/*	ANIMATION	*/
.animate-show {
  /*line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;*/
  opacity:1;
  transition: all linear .25s;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  /*transition: all linear 0.5s;*/
  display:block!important;
}

.animate-show.ng-hide {
  /*line-height: 0;
  opacity: 0;
  padding: 0 10px;*/
  opacity:0;
}
/*	END ANIMATION	*/





