﻿@model Artis.Siemens.HealthCareCloudServices.Domain.Models.InternationalFlightsCutoff

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InternationalFlightsCutoff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OriginAirportCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginAirportCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginAirportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginAirportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationAirportCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationAirportCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationAirportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationAirportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CsmlCutoff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CsmlCutoff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableforLocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableforLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedMetroDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedMetroDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysServiced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysServiced)
        </dd>

       @* <dt>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedPerson)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
