﻿@model IEnumerable<Artis.Siemens.HealthCareCloudServices.Domain.Models.InternationalFlightsCutoff>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OriginAirportCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginAirportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationAirportCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationAirportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CsmlCutoff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableforLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedMetroDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysServiced)
        </th>
      @*  <th>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in ViewBag.PageData)
{
    <tr>
        <td>
            @item.OriginAirportCode
        </td>
        <td>
            @item.OriginAirportName
        </td>
        <td>
            @item.DestinationAirportCode
        </td>
        <td>
            @item.DestinationAirportName
        </td>
        <td>
            @item.FlightNo
        </td>
        <td>
            @item.CsmlCutoff
        </td>
        <td>
            @item.DepartureTime
        </td>
        <td>
            @item.ArrivalTime
        </td>
        <td>
            @item.AvailableforLocal
        </td>
        <td>
            @item.EstimatedMetroDelivery
        </td>
        <td>
            @item.DaysServiced
        </td>
       @* <td>
            @item.LastEditedTime
        </td>
        <td>
            @item.LastEditedPerson
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.PagedListPager((IPagedList)ViewBag.PageData, page => Url.Action("Index", new { page }))