﻿<div ng-app="SpareParts">
    <div ng-app="SpareParts.OrderEntry" ng-controller="OrderCtrl as ord" ng-cloak>

        <!-- Page Heading -->
        <div class="row" style="margin-bottom:15px">
            <div class="col-lg-12">
                <h1> Create Spare Part Delivery Order</h1>
            </div>
        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col-lg-12">
                <span style=" margin-right:15px; color:#ab218e;"><i style="margin-right:15px" class="fa fa-shopping-cart fa-2x"></i>Step 1: Enter Order Details </span>
                <span><i style="margin-right:15px" class="fa fa-plane fa-2x"></i>Step 2: Select Service Level </span>
            </div>
        </div>

        <!-- Copy Part Order Detail  -->
        <div class="row animate-show" ng-hide="ord.SAPOrderValid">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Copy Spiridon Order Details</h3>
                    </div>
                    <div class="panel-body">
                        <form lpformnum="1">
                            <div class="form-group">
                                <textarea class="form-control" ng-model="ord.SAPOrder"
                                          placeholder="UB      4506055680      10      3089208 0005688575      1       PC      2013    1751    10.07.2015      08:30:00        728102984608" rows="3"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-info online" ng-click="ord.parseSAPOrder()" ng-disabled="ord.SAPOrder.length===0">Submit</button>
                                </div>
                                <div class="col-md-11">
                                    <div class="alert alert-danger animate-show" ng-show="ord.InvalidOrderMsg.length>0">
                                        <button type="button" class="close" aria-label="Close" ng-click="ord.closeInvalidOrderMsg()"><span aria-hidden="true">&times;</span></button>
                                        <strong>{{ord.InvalidOrderMsg}}</strong>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Order Header  -->
        <div class="row animate-show" ng-show="ord.SAPOrderValid">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Delivery Header <loading-indicator hidewhen="ord.HeaderValidated" /></h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="NotificationNumber">Notification Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control fwdidth-medium" id="NotificationNumber" ng-model="ord.SAPOrderObj.Requisitioner">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="DeliveryType">Delivery Type:</label>
                                    <div class="col-sm-8">
                                        <select data-placeholder="Select Delivery Type ..." class="form-control fwdidth-medium " id="DeliveryType">
                                            <option value="">Choose Delivery Type ...</option>
                                            <option>Latest By</option>
                                            <option>Time Specific</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="DeliveryDate">Delivery Date:</label>
                                    <div class="col-sm-8">
                                        <input data-provide="datepicker" type="text" class="form-control fwdidth-medium " id="DeliveryDate" ng-model="ord.SAPOrderObj.DeliveryDate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="OriginLocation">Delivery Time:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control fwdidth-medium " data-mask="99:99" placeholder="hh:mm" ng-model="ord.SAPOrderObj.DeliveryTime">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="PurchaseOrderNumber">Purchase Order Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control fwdidth-medium " id="PurchaseOrderNumber" ng-model="ord.SAPOrderObj.PurchasingDoc">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="OriginLocation">Origin Location:</label>
                                    <div class="col-sm-8">
                                        <select data-placeholder="Choose the Origin Warehouse Location ..." class="form-control fwdidth-medium " id="OriginLocation">
                                            <option value="">Select ...</option>
                                            <option>CSML - Frankfurt</option>
                                            <option>CSML - Singapore</option>
                                            <option>Schenker - Melbourne - 2012</option>
                                            <option>Schenker - Sydney - 2011</option>
                                            <option>Schenker - Brisbane - 2015</option>
                                            <option>Schenker - Perth - 2014</option>
                                            <option>Schenker - Adelaide - 2013</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="StorageLocation">Receiver:</label>
                                    <div class="col-sm-8">
                                        <select data-placeholder="Choose a receiving Storage Location ..." class="chosen-select" id="ReceiverLocation" style="display: none;">
                                            <option value="">Select ...</option>
                                            <option value="1025">1025 - CROWDEN, ROBERT</option>
                                            <option value="1026">1026 - DAVIS, GRAHAM</option>
                                            <option value="1028">1028 - DEMASI, GEORGE</option>
                                            <option value="1031">1031 - GROSCHE, KARL</option>
                                            <option value="1032">1032 - HAMPTON, SHAUN</option>
                                            <option value="1033">1033 - HART, BRIAN</option>
                                            <option value="1034">1034 - HAYCOCK, KERRY</option>
                                            <option value="1036">1036 - JOHNSTONE, COLIN</option>
                                            <option value="1037">1037 - KEULEMANS, MARC</option>
                                            <option value="1041">1041 - MULLER, PETER</option>
                                            <option value="1045">1045 - RAINES, WARREN</option>
                                            <option value="1047">1047 - SCHMIDT, LEO</option>
                                            <option value="1049">1049 - SPATARO, ORAZIO</option>
                                        </select><div class="chosen-container chosen-container-single" style="width: 215px;" title="" id="ReceiverLocation_chosen"><a class="chosen-single" tabindex="-1"><span>Select ...</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"></ul></div></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Delivery Items Table -->
        <div class="row" ng-show="ord.SAPOrderValid" ng-controller="OrderItemsCtrl as oItm">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa-fw"></i>Delivery Items <loading-indicator hidewhen="oItm.ItemsLoaded" /></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Material</th>
                                        <th>Description</th>
                                        <th>Batch</th>
                                        <th>Qty</th>
                                        <th>Weight</th>
                                        <th>Dim</th>
                                        <th>DG</th>
                                    </tr>
                                </thead>
                                <tbody data-link="row" class="rowlink">
                                    <tr>
                                        <td><a href="#myModal" data-toggle="modal">10</a></td>
                                        <td>10304280</td>
                                        <td>ICS Tower 9E =!=</td>
                                        <td>0005738994</td>
                                        <td>1</td>
                                        <td>80kg</td>
                                        <td>120x50x50 CM</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#myModal" data-toggle="modal">20</a></td>
                                        <td>10001220</td>
                                        <td>IBalancing sensor_front</td>
                                        <td>0006733994</td>
                                        <td>1</td>
                                        <td>2kg</td>
                                        <td>10x10x10 CM</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#myModal" data-toggle="modal">30</a></td>
                                        <td>10187203</td>
                                        <td>UMASplus</td>
                                        <td>0005802580</td>
                                        <td>1</td>
                                        <td>80kg</td>
                                        <td>120x50x50 CM</td>
                                        <td>No</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="alert alert-danger"> <strong>Warning!</strong> One or more parts are above the allowed size for a single person lift and require special delivery arrangements. </div>
                        <!-- Add new Item Button trigger modal -->
                        <button type="button" class="btn btn-info online" data-toggle="modal" data-target="#myModal"> New Item </button>

                        <!-- Modal for adding new Purchase Order Item -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Add / Edit Material</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group input-group">
                                            <input type="text" placeholder="Search Material Number" class="form-control">
                                            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                                        </div>
                                        <hr>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="Item">Item:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control fwdidth-medium " id="Item">
                                                        <option value="">Select ...</option>
                                                        <option>10</option>
                                                        <option>20</option>
                                                        <option>30</option>
                                                        <option>40</option>
                                                        <option>50</option>
                                                        <option>60</option>
                                                        <option>70</option>
                                                        <option>80</option>
                                                        <option>90</option>
                                                        <option>100</option>
                                                        <option>110</option>
                                                        <option>120</option>
                                                        <option>130</option>
                                                        <option>140</option>
                                                        <option>150</option>
                                                        <option>160</option>
                                                        <option>170</option>
                                                        <option>180</option>
                                                        <option>190</option>
                                                        <option>200</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="MaterialNumber">Material Number:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="MaterialNumber">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="MaterialDesc">Material Desc:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control fwdidth-medium " id="MaterialDesc">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="Batch">Batch:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control fwdidth-medium " id="Batch">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="Qty">Qty:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control fwdidth-medium " id="Qty">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="Weight">Weight:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control fwdidth-medium " id="Weight">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="WeightUoM">Weight UoM:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control fwdidth-medium " id="WeightUoM">
                                                        <option value="">Select ...</option>
                                                        <option>KG</option>
                                                        <option>G</option>
                                                        <option>MG</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="Length">Length:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control fwdidth-medium " id="Length">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="Width">Width:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control fwdidth-medium " id="Width">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="Height">Height:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control fwdidth-medium " id="Height">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="DimensionUoM">Dimension UoM:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control fwdidth-medium " id="DimensionUoM">
                                                        <option value="">Select ...</option>
                                                        <option>CMT</option>
                                                        <option>MM</option>
                                                        <option>METER</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="DG">Dangerous Goods:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control fwdidth-medium " id="DG">
                                                        <option value="">Select ...</option>
                                                        <option>YES</option>
                                                        <option>NO</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Modal End -->

                    </div>
                </div>
            </div>
        </div>

        <!-- Three Address Option Columns -->
        <div class="row" ng-show="ord.SAPOrderValid">

            <!-- Customer Site -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-medkit"></i> Customer Site</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group input-group">
                            <input type="text" placeholder="Search by System ID" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <address>
                            <a href="#myAddress" data-toggle="modal"> <strong><i class="fa fa-pencil-square-o"></i> Royal Melbourne Hospital</strong></a><br>
                            Radiology Department<br>
                            Building 3 - Level 2 - Room 10453<br>
                            144 Hospital Road<br>
                            Melbourne, VIC 3195<br>
                            Australia<br>
                        </address>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Site Contact Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Site Contact Phone:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Site Specific Delivery Remarks Phone:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </form>
                        <a href="part-order_step2.html"><button type="button" class="btn btn-labeled btn-success"><span class="btn-label"><i class="fa fa-medkit"></i></span>Select Customer Site</button></a>
                    </div>
                </div>
            </div>

            <!-- Drop Point -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-car"></i> Drop Point <span style="float:right;"><i class="fa fa-pencil-square-o"></i></span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group input-group">
                            <input type="text" placeholder="Search by System ID" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <address>
                            <a href="#myAddress" data-toggle="modal"> <strong><i class="fa fa-pencil-square-o"></i> DropPoint: Caltext Flemington</strong></a><br>
                            C/O Siemens Healthcare Ltd<br>
                            Number 012212<br>
                            144 Fleminton Road<br>
                            Melbourne, VIC 3195<br>
                            Australia<br>
                        </address>
                        <a href="part-order_step2.html"><button type="button" class="btn btn-labeled btn-success"><span class="btn-label"><i class="fa fa-car"></i></span>Select Drop Point</button></a>
                    </div>
                </div>
            </div>

            <!-- Engineer Address -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-user"></i> Engineer Address</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group input-group">
                            <input type="text" placeholder="Search by CSE Sloc or Name" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <address>
                            <a href="#myAddress" data-toggle="modal"> <strong><i class="fa fa-pencil-square-o"></i> Siemens Healthcare Ltd</strong></a><br>
                            c/o Peter Miller<br>
                            Building 21<br>
                            855 Mountain Hwy<br>
                            Bayswater, VIC 3195<br>
                            Australia<br>
                        </address>
                        <a href="part-order_step2.html"><button type="button" class="btn btn-labeled btn-success"><span class="btn-label"><i class="fa fa-user"></i></span>Select Engineer</button></a>
                    </div>
                </div>
            </div>

            <!-- Modal for editing Address -->
            <div class="modal fade" id="myAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">Edit Address</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group input-group">
                                <input type="text" placeholder="Search by System or CSE ID" class="form-control">
                                <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                            </div>
                            <hr>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Name 1 (Site):</label>
                                    <div class="col-sm-8">
                                        <input placeholder="i.e. Royal Childrens Hospital" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Name 2 (Department):</label>
                                    <div class="col-sm-8">
                                        <input placeholder="i.e. Radiology" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Name 3 (Room):</label>
                                    <div class="col-sm-8">
                                        <input placeholder="i.e. Bldg 2 - 2nd Flor - Room A10312" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Street:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Post Code:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">City:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Region/State:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Country:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Special Delivery Remarks:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" cols="3"></textarea>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>


    </div>
</div>

@section styles{
    <link rel="stylesheet" href="~/Content/chosen.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.min.css" />
}

@section Scripts {

    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/jasny-bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    @Scripts.Render("~/js/app/oe")
    <!-- Initiatlize the Chosen Plugin -->
    <script type="text/javascript">
        // Initialize the Chosen Plugin
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        // Initialize the DatePicker Plugin
        $('#DeliveryDate').datepicker({
            todayHighlight: true,
            format: 'dd/mm/yyyy'
        });


    </script>

}
