﻿@model IEnumerable<Artis.Siemens.HealthCareCloudServices.Domain.Models.DropPoint>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suburb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Long)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOffBne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOffSyd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOffMel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOffAdl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOffPer)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </th>*@
        
        <th></th>
    </tr>

@foreach (var item in ViewBag.PageData)
{
    <tr>
        <td>
            @item.Name1
        </td>
        <td>
            @item.Name2
        </td>
        <td>
            @item.Street
        </td>
        <td>
            @item.Suburb
        </td>
        <td>
            @item.PostCode
        </td>
        <td>
            @item.Region
        </td>
        <td>
            @item.Long
        </td>
        <td>
            @item.Lat
        </td>
        <td>
            @item.Remarks
        </td>
        <td>
            @item.CutOffBne
        </td>
        <td>
            @item.CutOffSyd
        </td>
        <td>
            @item.CutOffMel
        </td>
        <td>
            @item.CutOffAdl
        </td>
        <td>
            @item.CutOffPer
        </td>
        
        @*<td>
            @item.LastEditedTime
        </td>
        <td>
            @item.LastEditedPerson
        </td>*@
        
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


@Html.PagedListPager((IPagedList)ViewBag.PageData, page => Url.Action("Index", new { page }))