﻿@{
    string orderId = Request.QueryString["id"];
    ViewBag.Title = "Create Spare Part Delivery Order";
}

<div ng-app="SpareParts">
    <div ng-app="SpareParts.OrderEntry" ng-controller="OrderCtrl as ord" ng-init="ord.getOrderDetails(@orderId)" ng-cloak>

        <!-- Page Heading -->
        <div class="row" style="margin-bottom:15px">
            <div class="col-lg-12">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
        <div class="row" style="margin-bottom:30px" ng-hide="x">
            <div class="col-lg-12">
                <span style=" margin-right:15px; color:#ab218e;"><i style="margin-right:15px" class="fa fa-shopping-cart fa-2x"></i>Step 1: Enter Order Details </span>
                <span><i style="margin-right:15px" class="fa fa-plane fa-2x"></i>Step 2: Select Service Level </span>
            </div>
        </div>

        <!-- Copy Part Order Detail  -->
        <div class="row animate-show" ng-hide="ord.reLoad">
            @*ng-hide="ord.SAPOrderValid  && !ord.ValidationResult.HasErrors">*@
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Copy Spiridon Order Details</h3>
                    </div>
                    <div class="panel-body">
                        <form lpformnum="1">
                            <div class="form-group">
                                <textarea class="form-control" ng-model="ord.SAPOrder" ng-disabled="ord.SAPOrderValid" id="SAPOrder" name="SAPOrder"
                                          @*placeholder="UB      4506055680      10      3089208 0005688575      1       PC      2013    1751    10.07.2015      08:30:00        728102984608" rows="3"></textarea>*@
                                          placeholder="UB      4506055680      10      3089208 0005688575      1       PC      2013    1751    10.07.2015      08:30:00        728102984608 NAME1   NAME2   NAME3   STREET  CITY    POSTCODE    STREET5" rows="3"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-info online" ng-click="ord.parseSAPOrder()" ng-if="!ord.SAPOrderValid">Submit</button>
                                </div>
                                <div class="col-md-11">
                                    <div class="alert alert-danger animate-show" ng-show="ord.InvalidOrderMsg.length>0">
                                        <button type="button" class="close" aria-label="Close" ng-click="ord.closeInvalidOrderMsg()"><span aria-hidden="true">&times;</span></button>
                                        <strong>{{ord.InvalidOrderMsg}}</strong>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- Order Header  -->
        @*<div class="row animate-show" ng-show="ord.SAPOrderValid && !ord.ValidationResult.HasErrors" ng-form="OrderEntryForm">*@
        <div class="row animate-show" ng-show="ord.SAPOrderValid || ord.reLoad" ng-form="OrderEntryForm">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Delivery Header <loading-indicator hidewhen="ord.SAPOrderSubmitted" /></h3>
                    </div>
                    <div class="panel-body animate-show" ng-show="ord.SAPOrderSubmitted">
                        <form class="form-horizontal" role="form">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @*</div> ng-class="{'true':'has-success has-feedback', 'false': 'has-error has-feedback'}[!ord.showErrorDiv('Notification Number')]">*@
                                    <label class="control-label col-sm-4" ng-class="{'true':'ng-invalid'}[ord.showErrorDiv('Notification Number')]" for="NotificationNumber">Notification Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control fwdidth-medium" id="NotificationNumber" ng-blur="ord.ReSubmit()" ng-model="ord.SAPOrderObj.Requisitioner">
                                        @*<span class="glyphicon"
                                            ng-class="{'false':'glyphicon-ok form-control-feedback',
                                            'false':'glyphicon-remove form-control-feedback'}
                                            [!ord.ShowErrorDiv('Notification Number')]"></span>*@
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-4" ng-if="ord.showErrorDiv('Notification Number')">
                                        <ul class="validation-response-list">
                                            <li ng-repeat="item in ord.ValidationResult.Fields | filter: {Name: 'Notification Number'}" style="list-style-type:none;">
                                                <validation-response item="item"></validation-response>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" ng-class="{'ng-invalid': !ord.SAPOrderObj.DeliveryType}" for="DeliveryType">Delivery Type:</label>
                                    <div class="col-sm-8">
                                        <select name="DeliveryType" class="form-control fwdidth-medium"
                                                ng-model="ord.SAPOrderObj.DeliveryType" ng-required="true"
                                                ng-options="deliveryType.Id as deliveryType.Name for deliveryType in ord.DeliveryTypes">
                                            @*ng-options="deliveryType.Name as deliveryType.Name for deliveryType in ord.DeliveryTypes">*@
                                            <option value="">Choose Delivery Type ...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" ng-class="{'true':'ng-invalid'}[ord.showErrorDiv('Delivery Date')]" for="DeliveryDate">Delivery Date:</label>
                                    <div class="col-sm-8">
                                        <input data-provide="datepicker" type="text" ng-change="ord.ReSubmit()" class="form-control fwdidth-medium date" readonly="readonly" id="DeliveryDate" ng-model="ord.SAPOrderObj.DeliveryDate">
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-4" ng-if="ord.showErrorDiv('Delivery Date')">
                                        <ul class="validation-response-list">
                                            <li ng-repeat="item in ord.ValidationResult.Fields | filter: {Name: 'Delivery Date'}" style="list-style-type:none;">
                                                <validation-response item="item"></validation-response>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="OriginLocation">Delivery Time:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control fwdidth-medium " ng-required="true" data-mask="99:99" placeholder="hh:mm" ng-model="ord.SAPOrderObj.DeliveryTime">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" ng-class="{'true':'ng-invalid'}[ord.showErrorDiv('PO Number')]" for="PurchaseOrderNumber">Purchase Order Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control fwdidth-medium " id="PurchaseOrderNumber" ng-blur="ord.ReSubmit()" ng-model="ord.SAPOrderObj.PurchasingDoc">
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-4" ng-if="ord.showErrorDiv('PO Number')">
                                        <ul class="validation-response-list">
                                            <li ng-repeat="item in ord.ValidationResult.Fields | filter: {Name: 'PO Number'}">
                                                <validation-response item="item"></validation-response>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*Removed from Origin Location label ng-class="{'ng-invalid': !ord.SAPOrderObj.OriginLocation}"*@
                                    <label class="control-label col-sm-4" for="OriginLocation">Origin Location:</label>
                                    <div class="col-sm-8">
                                        @*ng-change="ord.setSloc()" Removed from Origin locatoin select*@
                                        <select class="form-control fwdidth-medium " id="OriginLocation"
                                                ng-model="ord.SAPOrderObj.OriginLocation" ng-change="ord.setSloc()">
                                            <option value="">Select ...</option>
                                            <option>CSML - Frankfurt</option>
                                            <option>CSML - Singapore</option>
                                            <option>Schenker - Melbourne - 2011</option>
                                            <option>Schenker - Sydney - 2012</option>
                                            <option>Schenker - Brisbane - 2015</option>
                                            <option>Schenker - Perth - 2014</option>
                                            <option>Schenker - Adelaide - 2013</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-4" ng-if="ord.showErrorDiv('Origin Location')">
                                        <ul class="validation-response-list">
                                            <li ng-repeat="item in ord.ValidationResult.Fields | filter: {Name: 'Origin Location'}">
                                                <validation-response item="item"></validation-response>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" ng-class="{'true':'ng-invalid'}[ord.showErrorDiv('Receiver')]" for="StorageLocation">Receiver: </label>
                                    <div class="col-sm-8">
                                        <select class="form-control fwdidth-medium" id="ReceiverLocation" ng-model="ord.SAPOrderObj.ReceivingSloc" ng-change="ord.ReSubmit()"
                                                ng-options="emp.Sloc as emp.Sloc + ' - ' + emp.Surname + ', ' + emp.GivenName for emp in ord.Employees" ng-required="true">
                                            <option value="">Select ...</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-4" ng-if="ord.showErrorDiv('Receiver')">
                                        <ul class="validation-response-list">
                                            <li ng-repeat="item in ord.ValidationResult.Fields | filter: {Name: 'Receiver'}">
                                                <validation-response item="item"></validation-response>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <label class="control-label col-sm4">Deliver to:</label>
                                    </div>*@
                            </div>
                        </form>
                        <div class="row hidden" ng-if="ord.ValidationResult.Fields.length">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-info online" ng-click="ord.ReSubmit()">Re-Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Delivery Items Table -->
        <div class="row animate-show" ng-show="ord.HeaderValidated" ng-controller="OrderItemsCtrl as oItm">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" ng-click="oItm.test()"><i class="fa-fw"></i>Delivery Items <loading-indicator hidewhen="oItm.ItemsLoaded" /></h3>
                    </div>
                    <div class="panel-body animate-show" ng-show="oItm.ItemsLoaded">
                        <div class="table-responsive">
                            <table class="table table-hover" id="tblItems">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Material</th>
                                        <th>Description</th>
                                        <th>Batch</th>
                                        <th>Qty</th>
                                        <th>Weight</th>
                                        <th>Dim</th>
                                        <th>DG</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Item in oItm.Items" ng-class="{'nodelivery-items' : !Item.Description}">
                                        @*<td><a href="#" stop-event link-action="oItm.launchModal(Item)">{{Item.Item}}</a></td>*@
                                        <td>{{Item.Item}}</td>
                                        @*<td>{{Item.Material}}</td>*@
                                        <td><input class="=form-control" ng-required="true" ng-model="Item.Material" /></td>
                                        <td><input class="form-control" ng-required="true" ng-model="Item.Description" /></td>
                                        <td><input class="form-control" ng-model="Item.Batch" ng-blur="oItm.checkBatch(Item.Batch, Item.Item)" ng-keyup="oItm.checkBatch(Item.Batch,Item.Item)" id="batch_{{Item.Item}}" /></td>
                                        <td>
                                            <input type="number" ng-model="Item.Qty" ng-required="true" min="1" class="form-control text-left" required />
                                        </td>
                                        @*<td>{{Item.Weight}}</td>
                                        <td>{{Item.Dim}}</td>*@
                                        <td><input class="form-control" ng-required="true" ng-model="Item.Weight" /></td>
                                        <td><input class="form-control" ng-required="true" ng-model="Item.Dim" /></td>
                                        <td>
                                            <select ng-model="Item.DG" class="form-control">
                                                <option>YES</option>
                                                <option>NO</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default btn-info" link-action="oItm.removeItem(Item.Item)">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="alert alert-danger" ng-hide="!oItm.WeightWarning">
                            <strong>Warning!</strong> {{oItm.WeightWarning}} &nbsp;

                            <br /> <input type="checkbox" id="chkTailGate" ng-model="ord.chkTailGate"> <b>Request a Tailgate / Special Delivery Booking</b>


                        </div>

                        <!-- Add new Item Button trigger modal -->
                        <button type="button" class="btn btn-info online" link-action="oItm.launchModal()"> New Item </button>

                        <!-- Modal for adding new Purchase Order Item -->
                        <div class="modal fade" id="itemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">{{oItm.ModalOptions.Mode}} Material <loading-indicator hidewhen="oItm.SearchComplete"</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group input-group" ng-if="oItm.ModalOptions.Mode==='Find'" ng-form="MaterialSearchForm" ng-submit="oItm.search()">
                                            <input type="text" placeholder="Search Material Number" class="form-control" name="MaterialNumber" id="MaterialNumber" ng-model="oItm.MaterialSearch" ng-minlength="6" ng-required="true">
                                            <span class="input-group-btn"><button class="btn btn-default" type="button" ng-disabled="MaterialSearchForm.MaterialNumber.$invalid" ng-click="oItm.search()"><i class="fa fa-search"></i></button></span>
                                        </div>
                                        <hr ng-if="oItm.ModalOptions.Mode==='Find'">
                                        <div class="form-group animate-show" ng-show="oItm.ModalOptions.MaterialToEdit.Material=='Not found'">
                                            <span class="text-danger"><strong>The material number you entered could not be found.</strong></span>
                                        </div>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group" ng-if="true==false">
                                                <label class="control-label col-sm-4" for="Item">Item:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control fwdidth-medium " id="Item">
                                                        <option value="">Select ...</option>
                                                        <option>10</option>
                                                        <option>20</option>
                                                        <option>30</option>
                                                        <option>40</option>
                                                        <option>50</option>
                                                        <option>60</option>
                                                        <option>70</option>
                                                        <option>80</option>
                                                        <option>90</option>
                                                        <option>100</option>
                                                        <option>110</option>
                                                        <option>120</option>
                                                        <option>130</option>
                                                        <option>140</option>
                                                        <option>150</option>
                                                        <option>160</option>
                                                        <option>170</option>
                                                        <option>180</option>
                                                        <option>190</option>
                                                        <option>200</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="MaterialNumber">Material Number:</label>
                                                <div class="col-sm-8">
                                                    @*<input disabled type="text" class="form-control" id="MaterialNumber" ng-model="oItm.ModalOptions.MaterialToEdit.Material">*@
                                                    <input type="text" class="form-control" id="MaterialNumber" ng-model="oItm.ModalOptions.MaterialToEdit.Material">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="MaterialDesc">Material Desc:</label>
                                                <div class="col-sm-8">
                                                    <input disabled type="text" class="form-control fwdidth-medium " id="MaterialDesc" ng-model="oItm.ModalOptions.MaterialToEdit.Description">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="Batch">Batch:</label>
                                                <div class="col-sm-8">
                                                    <input disabled type="text" class="form-control fwdidth-medium " id="Batch" ng-model="oItm.ModalOptions.MaterialToEdit.Batch">
                                                </div>
                                            </div>
                                            <div class="form-group ng-hide">
                                                <label class="control-label col-sm-4" for="Qty">Qty:</label>
                                                <div class="col-sm-8">
                                                    <input disabled type="text" class="form-control fwdidth-medium " id="Qty" ng-model="oItm.ModalOptions.MaterialToEdit.Qty">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="Weight">Weight:</label>
                                                <div class="col-sm-8">
                                                    <input disabled type="text" class="form-control fwdidth-medium " id="Weight" ng-model="oItm.ModalOptions.MaterialToEdit.Weight">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="WeightUoM">Weight UoM:</label>
                                                <div class="col-sm-8">
                                                    <select disabled class="form-control fwdidth-medium " id="WeightUoM" ng-model="oItm.ModalOptions.MaterialToEdit.WeightUOM">
                                                        <option value="">Select ...</option>
                                                        <option>KG</option>
                                                        <option>G</option>
                                                        <option>MG</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="Length">Length:</label>
                                                <div class="col-sm-8">
                                                    <input disabled type="text" class="form-control fwdidth-medium " id="Length" ng-model="oItm.ModalOptions.MaterialToEdit.Length">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="Width">Width:</label>
                                                <div class="col-sm-8">
                                                    <input disabled type="text" class="form-control fwdidth-medium " id="Width" ng-model="oItm.ModalOptions.MaterialToEdit.Width">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="Height">Height:</label>
                                                <div class="col-sm-8">
                                                    <input disabled type="text" class="form-control fwdidth-medium " id="Height" ng-model="oItm.ModalOptions.MaterialToEdit.Height">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="DimensionUoM">Dimension UoM:</label>
                                                <div class="col-sm-8">
                                                    <select disabled class="form-control fwdidth-medium " id="DimensionUoM" ng-model="oItm.ModalOptions.MaterialToEdit.DimUOM">
                                                        <option value="">Select ...</option>
                                                        <option>CM</option>
                                                        <option>MM</option>
                                                        <option>M</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="DG">Dangerous Goods:</label>
                                                <div class="col-sm-8">
                                                    <select disabled class="form-control fwdidth-medium " id="DG" ng-model="oItm.ModalOptions.MaterialToEdit.DG">
                                                        <option value="">Select ...</option>
                                                        <option>YES</option>
                                                        <option>NO</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" ng-hide="oItm.ModalOptions.NoResults" ng-click="oItm.AddMaterial()"><i class="fa fa-check"></i> Select</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Modal End -->

                    </div>
                </div>
            </div>
        </div>

        <!-- Three Address Option Columns -->
        <div class="row" ng-show="ord.HeaderValidated" ng-controller="DeliveryCtrl as del">

            <!-- Customer Site -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-medkit"></i> Customer Site <loading-indicator hidewhen="del.DeliveryLocationsLoaded"></loading-indicator> <span style="float:right;cursor:pointer"><i class="fa fa-pencil-square-o" ng-click="hideFormCS()"></i></span></h3>
                    </div>
                    <div class="panel-body" ng-hide="!del.DeliveryLocationsLoaded">
                        <div class="form-group input-group">
                            <input type="text" placeholder="Search by System ID" class="form-control search-field"
                                   ng-model="AsyncSearchCS"
                                   typeahead="resultCS as resultCS.Name1 for resultCS in del.searchCS($viewValue)"
                                   typeahead-wait-ms="500"
                                   typeahead-loading="searchingCS"
                                   typeahead-on-select="del.csResultSelected($item)"
                                   typeahead-min-length="2"
                                   typeahead-template-url="/app/modules/orderentry/templates/searchCS.html">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <address ng-if="!del.EditCS">
                            <strong>{{del.CS.Name1}}</strong><br />
                            <div ng-hide="del.CS.Name1 == 'Customer Site not found'">
                                Name 2 (Room): {{del.CS.Name2}}<br />
                                Name 3 (Department): {{del.CS.Name3}}<br />
                                Street: {{del.CS.Street}}<br />
                                City: {{del.CS.City}}<br />
                                State: {{del.CS.Region}}<br />
                                PostCode: {{del.CS.PostCode}}<br />
                                Country: {{del.CS.Country}}<br />
                                <br />
                                Site Contact Name: {{del.CS.ContactName}}<br />
                                Site Contact Phone: {{del.CS.ContactPhone}}<br />
                                Site Specific Delivery Remarks Phone: {{del.CS.DeliveryRemarks}}<br />
                            </div>
                        </address>
                        <form class="form-horizontal" role="form" ng-if="del.EditCS">
                            <address>
                                @*<a href="#myAddress" data-toggle="modal"> <strong><i class="fa fa-pencil-square-o"></i> {{del.CS.Name1}}</strong></a><br>*@
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Name 1 (Site):</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="del.CS.Name1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Name 2 (Room):</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="del.CS.Name2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Name 3 (Department):</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="del.CS.Name3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Street:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="del.CS.Street">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">City:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="del.CS.City">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">State/PostCode:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="del.CS.Region">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="del.CS.PostCode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Country:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="del.CS.Country">
                                    </div>
                                </div>
                            </address>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Site Contact Name:</label>
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control disabled" ng-model="del.CS.ContactName" readonly>*@
                                    <input type="text" class="form-control" ng-model="del.CS.ContactName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Site Contact Phone:</label>
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control disabled" ng-model="del.CS.ContactPhone" readonly>*@
                                    <input type="text" class="form-control" ng-model="del.CS.ContactPhone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Site Specific Delivery Remarks Phone:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.CS.DeliveryRemarks">
                                   @* <input type="text" class="form-control disabled" ng-model="del.CS.DeliveryRemarks" readonly>*@
                                </div>
                            </div>
                        </form>
                        <button ng-disabled="del.CS.Name1 == 'Customer Site not found'" type="button" class="btn btn-labeled btn-success" link-action="del.selectCustomerSite()">
                            <i class="fa fa-medkit"></i>&nbsp;Select Customer Site
                        </button>
                    </div>
                </div>
            </div>

            <!-- Drop Point -->
            <div class="col-lg-4" ng-hide="ord.WeightWarning">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-car"></i> Drop Point <loading-indicator hidewhen="del.DeliveryLocationsLoaded"></loading-indicator> <span style="float:right;cursor:pointer"><i class="fa fa-pencil-square-o" ng-click="hideFormDP()"></i></span></h3>
                    </div>
                    <div class="panel-body" ng-hide="!del.DeliveryLocationsLoaded">
                        <div class="form-group input-group">
                            <input type="text" placeholder="Search by Drop Point Name" class="form-control search-field"
                                   ng-model="AsyncSearch"
                                   typeahead="result as result.Name for result in del.searchDP($viewValue)"
                                   typeahead-wait-ms="500"
                                   typeahead-loading="searching"
                                   typeahead-on-select="del.dpResultSelected($item)"
                                   typeahead-min-length="2"
                                   typeahead-template-url="/app/modules/orderentry/templates/searchDP.html">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <address ng-if="!del.EditDP">
                            @*<a href="#myAddress" data-toggle="modal"> <strong><i class="fa fa-pencil-square-o"></i> {{del.DP.Name1}}</strong></a><br>*@
                            <strong>{{del.DP.Name1}}</strong><br>
                            <div ng-hide="del.DP.Name1 == 'Drop Point not found'">
                                {{del.DP.Name2}}<br>
                                {{del.DP.Street}}<br>
                                {{del.DP.Suburb}}<br>
                                {{del.DP.Region}}, {{del.DP.PostCode}}<br>
                                Cut Off Bne: {{del.DP.CutOffBne}}<br />
                                Cut Off Syd: {{del.DP.CutOffSyd}}<br />
                                Cut Off Mel: {{del.DP.CutOffMel}}<br />
                                Cut Off Adl: {{del.DP.CutOffAdl}}<br />
                                Cut Off Per: {{del.DP.CutOffPer}}<br />
                            </div>
                        </address>
                        <form class="form-horizontal" role="form" ng-show="del.EditDP">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.DP.Name1">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Alternate Name:</label>
                                <div class="col-sm-8">

                                    <input type="text" class="form-control" ng-model="del.DP.Name2">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Street:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.DP.Street">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Suburb:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.DP.Suburb">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Region:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.DP.Region">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-10">
                                    Cut Off Bne: {{del.DP.CutOffBne}}<br />
                                    Cut Off Syd: {{del.DP.CutOffSyd}}<br />
                                    Cut Off Mel: {{del.DP.CutOffMel}}<br />
                                    Cut Off Adl: {{del.DP.CutOffAdl}}<br />
                                    Cut Off Per: {{del.DP.CutOffPer}}<br /><br />
                                </div>
                            </div>
                        </form>
                        <button type="button" ng-disabled="del.DP.Name1 == 'Drop Point not found'"
                                class="btn btn-labeled btn-success"
                                link-action="del.selectDropPoint()">
                            <span class="btn-label">
                                <i class="fa fa-car"></i>
                            </span>&nbsp;Select Drop Point
                        </button>
                    </div>
                </div>
            </div>

            <!-- Engineer Address -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-user"></i> Engineer Address <loading-indicator hidewhen="del.DeliveryLocationsLoaded"></loading-indicator><span style="float:right;cursor:pointer"><i class="fa fa-pencil-square-o" ng-click="hideFormEA()"></i></span></h3>
                    </div>
                    <div class="panel-body" ng-hide="!del.DeliveryLocationsLoaded">
                        <div class="form-group input-group">
                            <input type="text" placeholder="Search by CSE Sloc or Name" class="form-control search-field"
                                   ng-model="AsyncEmpSearch"
                                   typeahead="earesult as earesult.SurName for earesult in del.searchEA($viewValue)"
                                   typeahead-wait-ms="500"
                                   typeahead-loading="searchingEmp"
                                   typeahead-on-select="del.eaResultSelected($item)"
                                   typeahead-min-length="2"
                                   typeahead-template-url="/app/modules/orderentry/templates/searchEA.html">
                            @*searchEngineer*@
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <address ng-if="!del.EditEA">
                            <strong>{{del.Emp.Name1}}</strong><br>
                            c/o {{del.Emp.GivenName}} {{del.Emp.Surname}}<br>
                            {{del.Emp.Street}}<br>
                            {{del.Emp.City}}, {{del.Emp.Region}} {{del.Emp.PostCode}}<br>
                            {{del.Emp.Country}}<br>
                        </address>
                        <form class="form-horizontal" role="form" ng-show="del.EditEA">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Site Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.Emp.Name1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Given Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.Emp.GivenName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Surname</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.Emp.Surname">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Street:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.Emp.Street">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">City:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.Emp.City">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Region:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.Emp.Region">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">PostCode:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.Emp.PostCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Item">Country:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="del.Emp.Country">
                                </div>
                            </div>

                        </form>
                        <button type="button" ng-disabled="del.Emp.Name1 == 'Employee not found'" class="btn btn-labeled btn-success" link-action="del.selectEngineer()">
                            <span class="btn-label"><i class="fa fa-user"></i></span>&nbsp;Select Engineer
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal for editing Address -->
            <div class="modal fade" id="myAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">Edit Address</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group input-group">
                                <input type="text" placeholder="Search by System or CSE ID" class="form-control">
                                <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                            </div>
                            <hr>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Name 1 (Site):</label>
                                    <div class="col-sm-8">
                                        <input placeholder="i.e. Royal Childrens Hospital" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Name 2 (Department):</label>
                                    <div class="col-sm-8">
                                        <input placeholder="i.e. Radiology" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Name 3 (Room):</label>
                                    <div class="col-sm-8">
                                        <input placeholder="i.e. Bldg 2 - 2nd Flor - Room A10312" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Street:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Post Code:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">City:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Region/State:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Country:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Item">Special Delivery Remarks:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" cols="3"></textarea>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>

        <div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top:200px;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Please wait...</h2>
                    </div>
                    <div class="modal-body">
                        <h3>Validating Order Header <i class="fa fa-spinner fa-pulse"></i></h3>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
