﻿@model IEnumerable<Artis.Siemens.HealthCareCloudServices.Domain.Models.InternationalDestination>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DestinationPostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationRegion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationAirportCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationAirportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationPostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationRegion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationAirportCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationAirportName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditedPerson)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
