﻿<!DOCTYPE html>
@{
    string appBase = ("http://" + Request.Url.Authority +
    Request.ApplicationPath.TrimEnd('/') + "/").ToLower();
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIEMENS Healthcare Services</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/chosen.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.min.css" />

    <script>
        var appBase = '@appBase';
    </script>
    <meta name="description" content="@ViewBag.Title - SIEMENS Healthcare Services" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="~/">
                    <img src="~/Images/siemens.gif" />
                </a>

                @*@Html.ActionLink("SIEMENS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" href="~/">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li>@Html.ActionLink("Create Delivery Order", "Index", "Create", new { Area = "Order" }, new { })</li>
                    <li>@Html.ActionLink("Track Order Status", "Index", "Track", new { Area = "Order" }, new { })</li>
                    @{
                        if (Session["Roles"] != null)
                        {
                            string[] sessionRoles = (string[])Session["Roles"];

                            if (sessionRoles.Contains("Logistics"))         // HAS to contain LOGISTICS for SETUP
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Setup <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        @{
                                            if (sessionRoles.Contains("Logistics"))
                                            {
                                                <li>@Html.ActionLink("Edit Drop Points", "Index", "DropPoints", new { Area = "Admin" }, new { })</li>
                                            }
                                        }
                                        @{
                                            if (sessionRoles.Contains("Logistics") && sessionRoles.Contains("Service Coordinator"))
                                            {
                                                <li>@Html.ActionLink("Int Flight Dest Mapping", "Index", "InternationalDestinations", new { Area = "Admin" }, new { })</li>
                                            }
                                        }
                                        @{
                                            if (sessionRoles.Contains("Logistics"))
                                            {
                                                <li>@Html.ActionLink("Int Flight Sched & Cutoff", "Index", "InternationalFlightsCutOffs", new { Area = "Admin" }, new { })</li>
                                            }
                                        }
                                        @{
                                            if (sessionRoles.Contains("Logistics"))
                                            {
                                                <li>@Html.ActionLink("Special Delivery Thresholds", "Index", "DeliveryThresholds", new { Area = "Admin" }, new { })</li>
                                            }
                                        }
                                        @{
                                            if (sessionRoles.Contains("Logistics"))
                                            {
                                                <li>@Html.ActionLink("Lead Time & Cost Matrix", "Index", "LeadTimeCostFormulas", new { Area = "Admin" }, new { })</li>
                                            }
                                        }
                                        @{
                                            if (sessionRoles.Contains("Logistics"))
                                            {
                                                <li>@Html.ActionLink("IBase Delivery Details", "Index", "IBASEDeliveryDetails", new { Area = "Admin" }, new { })</li>
                                            }
                                        }
                                    </ul>
                                </li>
                                                }
                                            }
                    }
                    }
                </ul>
                @{
                    var userID = "";
                    var displayName = "";

                    if (Session["LoginId"] != null)
                    {
                        userID = Session["LoginId"].ToString();
                        displayName = Session["DisplayName"].ToString();
                    }
                }
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="~/Account/SignOut"><i class="fa fa-sign-out"></i> @displayName</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SIEMENS Healthcare Services</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/jasny-bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    @RenderSection("scripts", required: false)

    <!-- include all the APP JS files - using a version tag'ing to make sure of NO caching -->
    <script src="~/app/SpareParts.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/core/module.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/core/directives/linkAction.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/core/directives/loadingIndicator.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/core/directives/stopEvent.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/core/directives/validationResponse.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/core/services/empService.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/core/services/orderEntryService.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>

    <script src="~/app/modules/OrderEntry/module.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/OrderEntry/controllers/DeliveryCtrl.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/OrderEntry/controllers/OrderCtrl.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/OrderEntry/controllers/OrderItemsCtrl.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>

    <script src="~/app/modules/OrderConfirm/module.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/OrderConfirm/controllers/OrderDetailCtrl.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/OrderConfirm/services/orderConfirmService.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>

    <script src="~/app/modules/OrderTrack/module.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/OrderTrack/services/orderTrackService.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>
    <script src="~/app/modules/OrderTrack/controllers/orderTrackController.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>

    <script>
        angular.module('SpareParts', ['SpareParts.Core', 'SpareParts.OrderEntry', 'SpareParts.OrderConfirm', 'SpareParts.OrderTrack']);
    </script>
</body>
</html>
