﻿@model Artis.Siemens.HealthCareCloudServices.Domain.Models.DeliveryThreshold

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeliveryThreshold</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxGrossWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxGrossWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxCombinedDimensions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxCombinedDimensions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarningMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarningMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxSingleDimension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxSingleDimension)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
