﻿@model IEnumerable<Artis.Siemens.HealthCareCloudServices.Domain.Models.DeliveryThreshold>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxGrossWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCombinedDimensions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarningMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxSingleDimension)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxGrossWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxCombinedDimensions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarningMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxSingleDimension)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
