﻿@model IEnumerable<Artis.Siemens.HealthCareCloudServices.Domain.Models.DeliveryThreshold>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxGrossWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCombinedDimensions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarningMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxSingleDimension)
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.PageData)
{
    <tr>
        <td>
            @item.DeliveryType
        </td>
        <td>
            @item.MaxGrossWeight
        </td>
        <td>
            @item.MaxCombinedDimensions
        </td>
        <td>
            @item.WarningMessage
        </td>
        <td>
            @item.MaxSingleDimension
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>



@Html.PagedListPager((IPagedList)ViewBag.PageData, page => Url.Action("Index", new { page }))
