﻿@model Artis.Siemens.HealthCareCloudServices.Domain.Models.InternationalDestination

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InternationalDestination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DestinationPostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationPostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationAirportCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationAirportCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationAirportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationAirportName)
        </dd>

       @* <dt>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedPerson)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
