﻿@model IEnumerable<Artis.Siemens.HealthCareCloudServices.Domain.Models.InternationalDestination>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DestinationPostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationRegion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationAirportCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationAirportName)
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in ViewBag.PageData) { 
    <tr>
        <td>
            @item.DestinationPostCode
        </td>
        <td>
            @item.DestinationRegion
        </td>
        <td>
            @item.DestinationAirportCode
        </td>
        <td>
            @item.DestinationAirportName
        </td>
      @*  <td>
            @item.LastEditedTime
        </td>
        <td>
            @item.LastEditedPerson
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.PagedListPager((IPagedList)ViewBag.PageData, page => Url.Action("Index", new { page }))