﻿@model Artis.Siemens.HealthCareCloudServices.Domain.Models.IBaseDeliveryDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IBASEDeliveryDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DropPoint.Name1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropPoint.Name1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliverySiteContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliverySiteContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliverySiteContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliverySiteContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedPerson)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
