﻿@model Artis.Siemens.HealthCareCloudServices.Domain.Models.IBaseDeliveryDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IBASEDeliveryDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DropPoint.Name1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropPoint.Name1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliverySiteContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliverySiteContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliverySiteContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliverySiteContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedPerson)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
