﻿@model IEnumerable<Artis.Siemens.HealthCareCloudServices.Domain.Models.IBaseDeliveryDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DropPoint.Name1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FLId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialRemarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliverySiteContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliverySiteContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DropPoint.Name1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FLId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialRemarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliverySiteContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliverySiteContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditedPerson)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
