﻿@model IEnumerable<Artis.Siemens.HealthCareCloudServices.Domain.Models.IBaseDeliveryDetail>
@using PagedList.Mvc;
@using PagedList;
 
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DropPoint.Name1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FLId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialRemarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliverySiteContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliverySiteContactNumber)
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in ViewBag.PageData) {
    <tr>
        <td>
            @item.DropPoint.Name1
        </td>
        <td>
            @item.FLId
        </td>
        <td>
            @item.SpecialRemarks
        </td>
        <td>
            @item.DeliverySiteContactName
        </td>
        <td>
            @item.DeliverySiteContactNumber
        </td>
       @* <td>
            @item.LastEditedTime)
        </td>
        <td>
            @item.LastEditedPerson)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


@Html.PagedListPager((IPagedList)ViewBag.PageData, page => Url.Action("Index", new { page }))