﻿@model Artis.Siemens.HealthCareCloudServices.Domain.Models.LeadTimeCostFormula

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LeadTimeCostFormula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OriginRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationPostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationPostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationZone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationZone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tailgate)
        </dt>

        <dd>
            @{ if (Model.Tailgate == "1")
                {
                    @Html.DisplayName("Yes");
                }
                else {
                    @Html.DisplayName("No");
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceLevelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceLevelCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceLevelDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceLevelDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CutOffTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CutOffTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateFormula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateFormula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceLevelRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceLevelRemarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GenericService)
        </dt>
        <dd>
            @{ if (Model.GenericService == "1")
                {
                    @Html.DisplayName("Yes");
                }
                else {
                    @Html.DisplayName("No");
                }
            }
        </dd>

        @*        <dt>
                @Html.DisplayNameFor(model => model.LastEditedTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastEditedTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastEditedPerson)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastEditedPerson)
            </dd>*@

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
