﻿@model IEnumerable<Artis.Siemens.HealthCareCloudServices.Domain.Models.LeadTimeCostFormula>
@using PagedList.Mvc; 
@using PagedList; 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OriginRegion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationPostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationZone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableServices)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tailgate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceLevelCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceLevelDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOffTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateFormula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceLevelRemarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenericService)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </th>*@
        <th></th>
    </tr>


@foreach (var item in ViewBag.PageData) {
    <tr>
        <td>
            @item.OriginRegion
        </td>
        <td>
            @item.DestinationPostCode
        </td>
        <td>
            @item.DestinationCity
        </td>
        <td>
            @item.DestinationZone
        </td>
        <td>
            @item.AvailableServices
        </td>
        <td>
              @{ if (item.Tailgate == "1")              
              {
                    @*item.Tailgate)*@
                    @Html.DisplayName("Yes");
              }
              else{
                      @Html.DisplayName("No");
                 }
              
              }
            

        </td>
        <td>
            @item.ServiceLevelCode
        </td>
        <td>
            @item.ServiceLevelDescription
        </td>
        <td>
            @item.CutOffTime
        </td>
        <td>
            @item.DeliveryTime
        </td>
        <td>
            @item.RateFormula
        </td>
        <td>
            @item.ServiceLevelRemarks
        </td>
        <td>
            @{ if (item.GenericService == "1")
                {
                    @Html.DisplayName("Yes");
                }
                else {
                    @Html.DisplayName("No");
                }
            }
        </td>


       @* <td>
            @item.LastEditedTime)
        </td>
        <td>
            @item.LastEditedPerson)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.PagedListPager((IPagedList)ViewBag.PageData, page => Url.Action("Index", new { page }))
