﻿<!--<script type="text/ng-template" id="searchDP.html">-->
    <a class="ajax-search-result-anchor">
        <span class="ajax-search-result-item" ng-if="!match.model.NoResults">
            <span ng-bind-html="match.model.Name1 | typeaheadHighlight:query"></span>
        </span>
        <span class="ajax-search-result-item" ng-show="match.model.NoResults">
            No matches found, please search a using different criteria.
        </span>
    </a>
<!--</script>-->