﻿@{
    ViewBag.Title = "Track Spare Parts Delivery";
}
<div ng-app="SpareParts">
    <div ng-app="SpareParts.OrderTrack" ng-controller="OrderTrackController as trk" ng-cloak>
        <script type="text/javascript">
            var CurrentLoginId = '@ViewBag.LoginId';
        </script>
        <!-- Page Heading -->
        <div class="row" style="margin-bottom:15px">
            <div class="col-lg-12">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
        <!-- track order input -->
        <div class="row animate-show" ng-form="OrderTrackForm">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Select Deliveries to track</h3>
                    </div>
                    <div class="panel-body animate-show">
                        <form class="form-horizontal" role="form">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="NotificationNumber">Notification Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control fwdidth-medium" id="NotificationNumber" ng-model="trk.Requisitioner">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="DestinationRegion">Destination Region:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control fwdidth-medium " id="DestinationRegion" ng-model="trk.DestinationRegion">
                                            <option value="">Select ...</option>
                                            <option>ACT</option>
                                            <option>NSW</option>
                                            <option>QLD</option>
                                            <option>SA</option>
                                            <option>TAS</option>
                                            <option>VIC</option>
                                            <option>WA</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="DeliveryDate">Delivery Date:</label>
                                    <div class="col-sm-8">
                                        <input data-provide="datepicker" type="text" class="form-control fwdidth-medium date" readonly="readonly" id="DeliveryDate" ng-model="trk.DeliveryDate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="HotSite">Hot Site:</label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" ng-model="trk.HotSite" style="margin-top:10px;">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="PurchaseOrderNumber">Purchase Order Number:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control fwdidth-medium " id="PurchaseOrderNumber" ng-model="trk.PurchasingDoc">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="OriginLocation">Origin Location:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control fwdidth-medium " id="OriginLocation"
                                                ng-model="trk.OriginLocation">
                                            <option value="">Select ...</option>
                                            <option>CSML - Frankfurt</option>
                                            <option>CSML - Singapore</option>
                                            <option>Schenker - Melbourne - 2011</option>
                                            <option>Schenker - Sydney - 2012</option>
                                            <option>Schenker - Brisbane - 2015</option>
                                            <option>Schenker - Perth - 2014</option>
                                            <option>Schenker - Adelaide - 2013</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="StorageLocation">Assigned Staff: </label>
                                    <div class="col-sm-8">
                                        <select class="form-control fwdidth-medium" id="AssignedStaff" ng-model="trk.ReceivingSloc"
                                                ng-options="emp.Sloc as emp.Sloc + ' - ' + emp.Surname + ', ' + emp.GivenName for emp in trk.Employees">
                                            <option value="">Select ...</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="Historical">Show Historical:</label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" style="margin-top:10px;" ng-model="trk.Historical">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-info online" ng-click="trk.submitTrackSearch()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Spare Parts Orders Table -->
        <div class="row animate-show">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" ng-click="oItm.test()">
                            <i class="fa-fw"></i>Spare Part Orders & Status <loading-indicator hidewhen="trk.OrdersLoaded" />
                        </h3>
                    </div>
                    <div class="panel-body animate-show" ng-show="trk.OrdersLoaded">
                        <div class="table-responsive">
                            <table class="table table-hover" id="tblItems">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Destination</th>
                                        <th>System</th>
                                        <th>PO/STO Number</th>
                                        <th>Job</th>
                                        <th>Service Level</th>
                                        <th>Delivery Date</th>
                                        <th>Origin</th>
                                        <th>Tailgate</th>
                                        <th>Warehouse Priority</th>
                                        <th>Cost</th>
                                        <th>Connote</th>
                                        <th>Last Event</th>
                                        <th>Alerts</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ord in trk.MatchedOrders">
                                        <td>
                                            <span style="display:none">{{ord}}</span>
                                            <span ng-show="ord.Status == 'DEL'" title="DEL" class="label label-success"><i class="fa fa-check"></i></span>
                                            <span ng-show="ord.Status == 'SHI'" title="SHI"><i class="fa fa-truck"></i></span>
                                            <span ng-show="ord.Status == 'ACK'" title="ACK"><i class="fa fa-envelope"></i></span>
                                            <span ng-show="ord.Status == 'TFC'" title="TFC"><i class="fa fa-briefcase"></i></span>
                                            <span ng-show="ord.Status == 'OFD'" title="OFD"><i class="fa fa-barcode"></i></span>
                                            <span ng-show="ord.Status == 'ETA'" title="ETA"><i class="fa fa-send"></i></span>
                                            <span ng-show="ord.Status == 'RDT'" title="RDT"><i class="fa fa-rss"></i></span>
                                            <span ng-show="ord.Status == 'TFU'" title="TFU"><i class="fa fa-question-circle"></i></span>
                                            <span ng-show="ord.Status == 'POD'" title="POD"><i class="fa fa-file-pdf-o"></i></span>

                                        </td>
                                        @*<td>{{ord.CustomerName}}</td>*@
                                        <td>
                                            <!-- CUSTOMER ADDRESS -->
                                            <address ng-show="ord.ServiceLevelType == 'C'">
                                                <strong>{{ord.CustomerSite}}</strong><br>
                                                <span ng-hide="ord.CustomerRoom == null">{{ord.CustomerRoom}}<br/></span>
                                                <span ng-hide="ord.CustomerDepartment == ''">{{ord.CustomerDepartment}}<br/></span>
                                                <span ng-hide="ord.Street == null">{{ord.Street}}<br/></span>
                                                <span ng-hide="ord.City == null">{{ord.City}}<br/></span>
                                                {{ord.DestRegion}}, {{ord.PostCode}}<br />
                                            </address>
                                            <!-- DROP POINT ADDRESS -->
                                            <address ng-show="ord.ServiceLevelType == 'D'">
                                                <strong>{{ord.CustomerSite}}</strong><br>
                                                <span ng-hide="ord.CustomerRoom == null">{{ord.CustomerRoom}}<br/></span>
                                                <span ng-hide="ord.CustomerDepartment == null">{{ord.CustomerDepartment}}<br /></span>
                                                <span ng-hide="ord.Street == null">{{ord.Street}}<br/></span>
                                                <span ng-hide="ord.City == null">{{ord.City}}<br/></span>
                                                {{ord.DestRegion}}, {{ord.DestPostCode}}<br>
                                            </address>
                                            <!-- ENGINEER ADDRESS -->
                                            <address ng-show="ord.ServiceLevelType == 'E'">
                                                <strong>Siemens Healthcare Ltd</strong><br>
                                                c/o {{ord.CustomerSite}}<br>
                                                <span ng-hide="ord.CustomerRoom == null">{{ord.CustomerRoom}}<br/></span>
                                                <span ng-hide="ord.CustomerDepartment == null">{{ord.CustomerDepartment}}<br /></span>
                                                <span ng-hide="ord.Street == null">{{ord.Street}}<br/></span>
                                                <span ng-hide="ord.City == null">{{ord.City}}<br/></span>
                                                {{ord.DestRegion}}, {{ord.DestPostCode}}<br>
                                            </address>
                                        </td>
                                        
                                        <td>{{ord.System}}</td>
                                        <td>
                                            <a href="#" stop-event link-action="trk.showDetailsModal(ord,-1)">{{ord.PurchaseOrderNumber}}</a>
                                        </td>
                                        <td>{{ord.Requisitioner}}</td>
                                        <td>{{ord.ServiceLevel}}</td>
                                        <td>{{ord.DeliveryDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td>{{ord.Origin}}</td>
                                        <td>{{ord.Tailgate}}</td>
                                        <td>{{ord.WarehousePriority}}</td>
                                        <td>{{ord.Cost}}</td>
                                        <td>
                                            <div ng-repeat="cn in ord.ConNotes track by $index">
                                                {{ord.ConNotes[$index]}}
                                            </div>
                                        </td>
                                        <td>{{ord.LastEvent | date:'dd/MM/yyyy HH:mm:ss'}} - {{ord.EventComment}}</td>
                                        <td>
                                            <span class="label label-info" ng-show="ord.Alerts == 'On Track'">{{ord.Alerts}}</span>
                                            <span class="label label-warning" ng-show="ord.Alerts == 'Missed'">{{ord.Alerts}}</span>
                                            <span class="label label-success" ng-show="ord.Alerts == 'Delivered'">{{ord.Alerts}}</span>
                                            <span class="label label-danger" ng-show="ord.HotSite == 'Hot Site'"><br />Hot Site</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <!-- Modal for details of Item -->
                        <div class="modal fade" id="shippingDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-dialog" role="document" style="width:800px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                <i class="fa fa-check text-success"></i> Shipping Details for PO {{trk.ModalData.PurchaseOrderNumber}}
                                                <span ng-hide="trk.ModalData.SelectedConNote == '-1'"></span>
                                            </h4>
                                        </div>
                                        <div class="modal-body">

                                            <!-- Header Information -->
                                            <div class="col-sm-6">
                                                <strong>Job No:</strong> {{trk.ModalData.Requisitioner}}<br>
                                                <strong>PO No:</strong> {{trk.ModalData.PurchaseOrderNumber}}<br>
                                                <strong>System Type:</strong> {{trk.ModalData.System}}<br>
                                                <strong>Service Level:</strong> {{trk.ModalData.ServiceLevel}}<br>
                                                <span class="label label-danger">{{trk.ModalData.EffectCode}}</span>
                                            </div>
                                            <!-- KATHRINE - different display, depending on TYPE of service chosen -->
                                            <div class="col-sm-6">
                                                <!-- CUSTOMER ADDRESS -->
                                                <address ng-show="trk.ModalData.ServiceLevelType == 'C'">
                                                    <p><i class="fa fa-medkit"></i> Customer Site </p>
                                                    <strong>{{trk.ModalData.CustomerSite}}</strong><br />
                                                    Name 2 (Room): {{trk.ModalData.CustomerRoom}}<br />
                                                    Name 3 (Department): {{trk.ModalData.CustomerDepartment}}<br />
                                                    Street: {{trk.ModalData.Street}}<br />
                                                    City: {{trk.ModalData.City}}<br />
                                                    State: {{trk.ModalData.DestRegion}}<br />
                                                    PostCode: {{trk.ModalData.PostCode}}<br />
                                                    Country: {{trk.ModalData.Country}}<br />
                                                    <br />
                                                    Site Contact Name: {{trk.ModalData.CustomerSiteContactName}}<br />
                                                    Site Contact Phone: {{trk.ModalData.CustomerSiteContactPhone}}<br />
                                                    Site Specific Delivery Remarks: {{trk.ModalData.CustomerSiteDeliveryRemarks}}<br />
                                                </address>
                                                <!-- DROP POINT ADDRESS -->
                                                <address ng-show="trk.ModalData.ServiceLevelType == 'D'">
                                                    <p><i class="fa fa-car"></i> Drop Point </p>
                                                    <strong>{{trk.ModalData.CustomerSite}}</strong><br>
                                                    <span ng-hide="trk.ModalData.CustomerRoom == null">{{trk.ModalData.CustomerRoom}}<br></span>
                                                    {{trk.ModalData.Street}}<br>
                                                    {{trk.ModalData.City}}<br>
                                                    {{trk.ModalData.DestRegion}}, {{trk.ModalData.DestPostCode}}<br>
                                                </address>
                                                <!-- ENGINEER ADDRESS -->
                                                <address ng-show="trk.ModalData.ServiceLevelType == 'E'">
                                                    <p><i class="fa fa-user"></i> Engineer Address </p>
                                                    <strong>Siemens Healthcare Ltd</strong><br>
                                                    c/o {{trk.ModalData.CustomerSite}}<br>
                                                    {{trk.ModalData.Street}}<br>
                                                    {{trk.ModalData.City}}, {{trk.ModalData.DestRegion}} {{trk.ModalData.DestPostCode}}<br>
                                                </address>
                                            </div>

                                            <!-- Parts Order Panel -->
                                            <!-- ------------------------------------------------------------------------------------------------------------------------------------ -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Parts Ordered</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Item</th>
                                                                            <th>Material</th>
                                                                            <th>Description</th>
                                                                            <th>Batch</th>
                                                                            <th>Qty</th>
                                                                            <th>SHP</th>
                                                                            <th>DEL</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody data-link="row" class="rowlink">
                                                                        <tr ng-repeat="part in trk.ModalData.PartsOrdered">
                                                                            <td>{{part.Item}}</td>
                                                                            <td>{{part.Material}}</td>
                                                                            <td>{{part.Description}}</td>
                                                                            <td>{{part.Batch}}</td>
                                                                            <td>{{part.Qty}}</td>
                                                                            <td>
                                                                                <span ng-show="part.SchenkerSHP=='Y'" style="color:green;margin-left:8px;">
                                                                                    <i class="fa fa-check"></i>
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                <span ng-show="part.SchenkerDEL=='Y'" style="color:green;margin-left:8px;">
                                                                                    <i class="fa fa-check"></i>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Transport Events Panel -->
                                            <!-- ------------------------------------------------------------------------------------------------------------------------------------ -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Transport Events</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="table-responsive">
                                                                <div class="table-responsive">
                                                                    <table class="table table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Date</th>
                                                                                <th>Time</th>
                                                                                <th>Location</th>
                                                                                <th>ConNote</th>
                                                                                <th>Event</th>
                                                                                <th>Text</th>
                                                                                <th>Tracking URL</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody data-link="row" class="rowlink">
                                                                            <tr ng-repeat="events in trk.ModalData.TransportEvents">
                                                                                <td>{{events.EventDateTime | date:'dd/MM/yyyy'}}</td>
                                                                                <td>{{events.EventDateTime | date:'HH:mm:ss'}}</td>
                                                                                <td>{{events.EventLocation}}</td>
                                                                                <td>{{events.ConNote}}</td>
                                                                                <td>{{events.ReasonCode}}</td>
                                                                                <td>{{events.EventComment}}</td>
                                                                                <td><a href="{{events.TrackingURL}}">{{events.TrackingURL}}</a></td>
                                                                                @*<td>{{events.TrackingURL}}</td>*@
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
