﻿@model Artis.Siemens.HealthCareCloudServices.Domain.Models.DropPoint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DropPoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suburb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suburb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Long)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CutOffBne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CutOffBne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CutOffSyd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CutOffSyd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CutOffMel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CutOffMel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CutOffAdl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CutOffAdl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CutOffPer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CutOffPer)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedPerson)
        </dd>

        

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
