﻿@model IEnumerable<Artis.Siemens.HealthCareCloudServices.Domain.Models.DropPoint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suburb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Long)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOffBne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOffSyd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOffMel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOffAdl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutOffPer)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LastEditedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedPerson)
        </th>*@
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suburb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Long)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CutOffBne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CutOffSyd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CutOffMel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CutOffAdl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CutOffPer)
        </td>
        
        @*<td>
            @Html.DisplayFor(modelItem => item.LastEditedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditedPerson)
        </td>*@
        
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
