﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIEMENS Healthcare Services</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles",required:false)
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <img src="~/Images/siemens.gif" />
                </a>

                @*@Html.ActionLink("SIEMENS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Create Delivery Order", "Index", "SparePartDeliveryOrder")</li>
                    <li>@Html.ActionLink("Track Order Status", "Index", "TrackOrder")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Setup <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Edit Drop Points", "Index", "DropPoints")</li>
                            <li>@Html.ActionLink("Int Flight Dest Mapping", "Index", "InternationalDestinations")</li>
                            <li>@Html.ActionLink("Int Flight Sched & Cutoff", "Index", "InternationalFlightsCutOffs")</li>
                            <li>@Html.ActionLink("Special Delivery Thresholds", "Index", "DeliveryThresholds")</li>
                            <li>@Html.ActionLink("Lead Time & Cost Matrix", "Index", "LeadTimeCostFormulas")</li>
                            <li>@Html.ActionLink("IBase Delivery Details", "Index", "IBASEDeliveryDetails")</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><i class="fa fa-sign-out"></i>Sign-Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SIEMENS Healthcare Services</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
