﻿<!DOCTYPE html>
@{
    string appBase = ("http://" + Request.Url.Authority +
    Request.ApplicationPath.TrimEnd('/') + "/").ToLower();
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIEMENS Healthcare Services</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/chosen.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.min.css" />

    <script>
        var appBase = '@appBase';
    </script>
    <meta name="description" content="@ViewBag.Title - SIEMENS Healthcare Services" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="~/">
                    <img src="~/Images/siemens.gif" />
                </a>

            </div>
            <div class="navbar-collapse collapse">
                
                @{
                    var userID = "";
                    var displayName = "";

                    if (Session["LoginId"] != null)
                    {
                        userID = Session["LoginId"].ToString();
                        displayName = Session["DisplayName"].ToString();
                    }
                }
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="~/Account/SignOut"><i class="fa fa-sign-out"></i> @displayName</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SIEMENS Healthcare Services</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/jasny-bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
