<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>ORD# {{PurchaseOrderNumber}} SERV#{{JobNumber}}</title>
</head>
<body>
    <table style="font-family:Arial;font-size:10pt">
        <tr>
            <td>
                <div style="border:1px solid #22BCE5; padding: 4px;">
                    <h2>ORD# {{PurchaseOrder}} SERV#{{JobNumber}}</h2>
                </div>
                <br />
                <div>
                    <u>Address : {{AddressLine01}}</u>
                    <br />
                    {{AddressLine02}}
                    {{AddressLine03}}
                    {{AddressLine04}}
                    {{AddressLine05}}
                    {{AddressLine06}}
                    {{AddressLine07}}
                    {{AddressLine08}}
                    {{AddressLine09}}
                    {{AddressLine10}}
                    {{AddressLine11}}
                    {{AddressLine12}}
                    <br />
                    <br />
                    <u>Parts :</u>
                    <br />
                    {{PartsOrdered}}
                    <br />
                    <br />
                    <u>ConNote :</u>
                    <br />
                    {{ConNote}}
                    <br />
                    <br />
                    <u>ETA Date/Time :</u>
                    <br />
                    {{ETADateTime}}
                    <br />
                    <br />
                    <u>OriginLocation :</u>
                    <br />
                    {{OriginLocation}}<br />
                    <br />
                    <br />
                    <br />
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
