<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                <div style="border:1px solid #22BCE5">
                    <h1>Processed at : {{now}}</h1>
                </div>
                <span style="font-family:Arial;font-size:10pt">
                    ConNote <b>{{ConNote}}</b>
                    <br /><br />
                    <i>Has been delivered !!   :-)</i>
                    <br />
                    <a style="color:#22BCE5" href="{Url}">{{ConNote}}</a><br />
                    Carrier Code : {{CarrierCode}}
                    <br /><br />
                    EventCode : {{EventCode}}<br />
                    EventLocation : {{EventLocation}}<br />
                    EventComment: {{EventComment}}<br/>
                    <br />
                    <br />
                    Thanks<br />
                </span>
            </td>
        </tr>
    </table>
</body>
</html>
